<!doctype html>
<html>
<head>
<title>hoverpi control</title>
<link rel="stylesheet" href="/static/style.css" />
<meta name="viewport" content="width=device-width, user-scalable=no" />
</head>
<body background='/static/images/test.jpg?{{ id }}'>

<div>
<table>
<tr>
<td> <div class="onoff"><a href="/on/">ON</a></div> </td>
<td>&nbsp;</td> <td>&nbsp;</td>
<td><div class="button"><a href="/forward/">&#10224;</a></div></td><td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td><div class="button"><a href="/left/">&nbsp;&#10226;&nbsp;</a></div></td>
	<td>&nbsp;</td>
        <td><div class="button"><a href="/right/">&nbsp;&#10227;&nbsp;</a></div></td></tr>
<tr>
<td> <div class="onoff"><a href="/off/">OFF</a></div> </td>
<td>&nbsp;</td><td>&nbsp;</td>
<td><div class="button"><a href="/reverse/">&#10225;</a></div></td><td>&nbsp;</td></tr>
</table>
</div>

</body>
</html>
